body {
    background-color: rgba(33, 33, 33, 0.98);
}

.hero {
    width: 100%;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid white;
}
.primary-color {
    background-color: #050505fa;
}

.carousel {
     width:60vw; 
}



